main {

    .section-index {
        height: 100vh;
        padding: 3.75rem 3.75rem 1.875rem 3.75rem;
        background-image: url(../PreEntrega1AdolfoDacal/img/index/background/fondo-sectioncarrera.jpg);
        @include background (cover, center, center, fixed);
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 0.5fr 1.5fr 1.5fr;
        grid-template-areas:
        "titulo titulo"
        "imagenes aside"
        "frase aside";    

        // .container-flex {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        // }

        .section-index-subtitulo {
            grid-area: titulo;
            margin-bottom: 1.875rem;
            text-align: center;
            @include flex (flex, center, center);

            a {
                
                h2 {
                    justify-self: start;

                    margin-bottom: 1.25rem;
                
                    font-weight: 800;
                    font-size: 4.375rem;
                    color: $blanco;
                    text-shadow: 1px 1px 1px $color-secundario,
                        .125rem .125rem 1px $color-secundario,
                        .125rem .1875rem 1px $color-secundario,
                        .1875rem .25rem 1px $color-secundario,
                        .1875rem .3125rem 1px $color-secundario,
                        .25rem .375rem 1px $color-secundario,
                        .25rem .4375rem 1px $color-secundario,
                        .3125rem .5rem 1px $color-secundario,
                        .3125rem .5625rem 1px $color-secundario,
                        .375rem .625rem 1px $color-secundario;
                
                    transition: 0.5s;
                    &:hover {
                        text-shadow: 1px 1px 1px  $color-principal,
                        .125rem .125rem 1px  $color-principal,
                        .125rem .1875rem 1px  $color-principal,
                        .1875rem .25rem 1px $color-principal,
                        .1875rem .3125rem 1px  $color-principal,
                        .25rem .375rem 1px  $color-principal,
                        .25rem .4375rem 1px  $color-principal,
                        .3125rem .5rem 1px  $color-principal,
                        .3125rem .5625rem 1px  $color-principal,
                        .375rem .625rem 1px  $color-principal;
                    }

                }
            }
        }

        .section-index-imagenes {
            grid-area: imagenes;  
            @include flex (flex, space-between, center);

            img {
                width: 48%;
            }
        }

        .section-index-frase {
            background-color: rgba(0, 0, 0, 0.7);
            width: 100%;
            height: fit-content;
            margin-top: 1.875rem;
            text-align: center;
            grid-area: frase; 
            align-self: center;
            @include flex (flex, center, center);

            p {
                font-size: 2.1875rem;
                font-weight: 900;
                line-height: 3.75rem;
                padding: 1.5625rem;
                color: $blanco;
                text-shadow: .0625rem .0625rem 0 $color-principal,
                .125rem .125rem 0 $color-principal;
            }
        }

        .section-index-aside {
            grid-area: aside; 
            @include flex (flex, center, center);

            img {
                max-height: 100%;
                max-width: 80%;
            }
        }
    }

    .section-carrera {
        background-image: url(../img/index/background/fondo-sectioncarrera.jpg);
    }

    .section-premios {
        background-image: url(../img/index/background/fondo-sectionpremios.jpg);
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 0.5fr 1.5fr 1.5fr;
        grid-template-areas: 
        "titulo titulo"
        "aside imagenes"
        "aside frase";
    }

    .section-records {
        background-image: url(../img/index/background/fondo-sectionrecords.jpg);
    }
}